<html lang="en">
  <head>
      <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
      .center {
        margin: auto;
        width: 60%;
        border: 3px solid black;
        padding: 10px;
      }
      </style>
    <title>Login</title>
  </head>
  <body>



    <div class="center">
      <h2>Enter your NetId and Name below!!</h2>
      <form id="login" >
        <label for="exampleInputEmail1">NetId</label>
        <input class="form-control form-control-lg" type="text" placeholder="Ex. ty5678" name="netid" id="netid">
        <label for="exampleInputEmail1">Name</label>
        <input class="form-control form-control-lg" type="text" placeholder="Ex. John Doe" name="name" id="name">
        <br/>
        <button id="submit" type="submit" formaction="/home" class="btn btn-primary">submit</button>
      </form>
    </div>

  </body>

</html>
